* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #ffcf9c;
}

/* Headers */

h1, h2 {
    color:#b4c8ac;
    background: #6e4632;
    text-align: center;
    width: fit-content;
    padding: 20px 100px;
    border: 8px solid brown;
}

h1 {
    font-weight: 800px;
    font-size: 50px;
    margin: 80px auto;
}

h2 {
    margin: 50px auto;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

/* Lists */

ul, ol {
    margin: 50px auto;
    border: 6px solid #9ba07f;
    background-color: #b4c8ac;
    width: fit-content;
    max-width: 800px;
    list-style-position: inside;
}

ul li, ol li, li a {
    color: #6e4632;
    font-size: 32px;
}

 ul li, ol li {
    padding: 20px;
 }

 ul.recipes {
    max-width: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: auto;
    gap: 1rem;
    border: none;
    background-color: #ffcf9c;
 }

 .recipes li {
    border: 6px solid #9ba07f;
    background-color: #b4c8ac;
 }

 /* Images */

img {
    display: block;
    width: 500px;
    height: auto;
    margin: 10px auto;
}

.header-photo {
    background: #9ba07f;
    border: 8px solid #6e4632;
    width: 600px;
    margin: 50px auto;
    padding: 20px 10px 10px;
}

/* Paragraph */

p {
    margin: 30px 50px;
}